<!DOCTYPE html>

<html>
	<head>
		<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
		<title> barfuss.email </title>
	</head>
	<body>
		<div class="flexcontainer">
			<div class="flexitem">
				<button hx-get="/whoami" hx-swap="outerhtml">whoami</button>
			</div>
			<div class="flexitem">
				<button hx-get="/contact" hx-swap="outerhtml">contact</button>
			</div>
			<div class="flexitem">
				<button hx-get="/about" hx-swap="outerhtml">about</button>
			</div>
			<div class="flexitem">
				<button hx-get="/whoami" hx-swap="outerhtml">whoami</button>
			</div>
			<div class="flexitem">
				<button hx-get="/whoami" hx-swap="outerhtml">whoami</button>
			</div>
			<div class="flexitem">
				<button hx-get="/whoami" hx-swap="outerhtml">whoami</button>
			</div>
		</div>
	</body>
</html>
