<!DOCTYPE html>
<html>
    <head>
        <title>Barfuß</title>
        <link rel="stylesheet" href="assets/css/dash.css" />
    </head>
    <body>
        <div class="Socials">
            <a href="https://www.instagram.com/">
                <img src="assets/img/instagram.png" alt="Instagram" />
            </a>
            <a href="https://www.youtube.com/">
                <img src="assets/img/youtube.png" alt="YouTube" />
            </a>
            <a href="https://www.github.com/">
                <img src="assets/img/github.png" alt="GitHub" />
            </a>
        </div>

        <div class="Nas">
            <a href="http://nas.fritz.box:8096">
                <img src="assets/img/jellyfin.png" alt="Jellyfin" />
            </a>
            <a href="http://nas.fritz.box:8810">
                <img src="assets/img/paperless.png" alt="Paperless" />
            </a>
            <a href="http://nas.fritz.box:8123">
                <img src="assets/img/homeassistent.png" alt="Homeassistent" />
            </a>
            <a href="http://nas.fritz.box:8002">
                <img src="assets/img/portainer.png" alt="Portainer" />
            </a>
            <a href="http://nas.fritz.box:5000">
                <img src="assets/img/synology.png" alt="Synology" />
            </a>
        </div>

        <div class="Server">
        </div>
    </body>
</html>
